.store{
    display: flex;
 
    .homeContainer{
     background-color: #F4F4F5;
     flex: 6.5;

     .courses-nav{

        .ibutton{
            background-color: rgb(157, 45, 66);
            border: 1px solid black;
            text-align: center;
            padding: 10px;
            padding-left: 20px;
            padding-right: 20px;
            margin: 20px;
            border-radius: 25%;
         }
        
         a{
            text-decoration: none;
            color: #F4F4F5;
         }
     }

     .main-box{
        -webkit-box-shadow: 4px 4px 5px 0px rgba(140,140,140,1);
        -moz-box-shadow: 4px 4px 5px 0px rgba(140,140,140,1);
        box-shadow: 4px 4px 5px 0px rgba(140,140,140,1);
        width: 800px;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        background-color: white;
        border-radius: 10px;

        .form-titles{
            font-size: 25px;
            text-align: left;
            padding-left: 40px;
            padding-top: 20px;
            color: #585858;
        }
        .store-cb{
            display: inline-block;
            margin: 10px;
            input{
                margin-right: 10px;
            }
        }
        .date-input{
            width: 600px;
            //display: flex;
            margin-top: 10px; 
            padding-left: 5px;
            border-radius: 5px;
            color: #585858;
            border:1px solid #585858;
        }
        #dropdown{
            width: 600px;
            margin: 10px;
            border-radius: 5px;
            color: #585858;
            height: 25px;
        }
        .nml-input{
            width: 600px;
            margin-bottom: 10px;
            padding-left: 5px;
            border-radius: 5px;
            border:1px solid #585858;
        }
        .SUBMIT{
            .sbutton{
                background-color: rgb(157, 45, 66);
                border: 1px solid black;
                text-align: center;
                padding: 10px;
                padding-left: 20px;
                padding-right: 20px;
                margin: 20px;
                border-radius: 25%;
                color: #F4F4F5;
             }
        }

     }
    }
}