.sidebar{
    background-color: #F4F4F5;
    flex: 1;
    min-height: 100vh;

    .top{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 25px;
        margin-bottom: 30px;
    }

    .center{
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: left;

            .dashboard{
                font-size: 22px;
            }

            .forms{
                font-size: 22px;
            }

            li{
                cursor: pointer;
                line-height: 35px;
                a{
                    color: #969696;
                    text-decoration: none;
                }

                .icon{
                    margin-right: 6px;
                    margin-left: 30px;
                    margin-top: 0px;
                }

                &:hover{
                    span{
                        color: black;
                    }
                }
                
            }

        }

    }

    .bottom{
        display: flex;
        margin-left: 40px;
        margin-top: 30px;
        cursor: pointer;

        .logout{
            margin-right: 18px;
            margin-left: 0px;
            padding: 0px;
            text-align: center;
            font-size: 22px;
            
        }

        &:hover{
            color: #AB1E40;
        }
    }
}